* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.logo {
  position: absolute; /* Posisi absolut */
  top: -190px; /* Jarak dari atas */
  left: -150px; /* Jarak dari kiri */
  width: 75px; /* Lebar logo */
  height: auto; /* Tinggi akan menyesuaikan proporsi */
}

.logo2 {
  position: absolute; /* Posisi absolut */
  top: -190px; /* Jarak dari atas */
  left: 28.5cm; /* Jarak dari kiri */
  width: 75px; /* Lebar logo */
  height: auto; /* Tinggi akan menyesuaikan proporsi */
}

body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(IMG/SMMK.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -10; /* Mengatur warna hitam dengan opasitas 50% */
}

/* untuk isi */
.isi {
  color: white;
}

.isip b {
  background-color: rgb(217, 255, 0);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(0, 0, 0);
}

.isi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.isi p {
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 25px;
}

.isi p,
.isi h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

.isi h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.isip {
  font-size: 15px;
}

/* Button Ke login */
.btnLogin-popup {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 10px;
  width: 200px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  border-radius: 40px;
  font-size: 15px;
  transition: 1s;
}

.btnLogin-popup:hover {
  background-color: rgb(217, 255, 0);
  border: 1px solid #ffffff;
  color: #000000;
}
/* akhir */

/* animation typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.isi h1 {
  overflow: hidden;
  border-right: 2px solid rgb(255, 255, 255); /* Membuat efek kursor */
  white-space: nowrap; /* Teks tidak terlilit */
  margin: 0 auto; /* Menengahkan teks */
  animation: typing 10s steps(100, end), blink 0.75s step-end infinite alternate; /* Animasi mengetik */
  animation-iteration-count: infinite; /* Membuat animasi berulang-ulang */
}


/* Untuk Login */
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease-in, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper.active .form-box.Register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.Register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: rgb(255, 255, 255);
  font-size: 2em;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  color: #ffffff;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 57px;
}

.renember-forgot {
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.renember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.renember-forgot a {
  color: #fff;
  text-decoration: none;
}

.renember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #000000;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
